.add-button{
    display: block;
    position: fixed;
    top: 90vh;
    right: 2rem;
    z-index: 5;
}

.add-icon{
    background: rgb(0,76,212);
    background: linear-gradient(50deg, rgba(0,76,212,1) 20%, rgba(0,240,183,1) 80%);
    color: rgb(255, 255, 255);
}