<mat-card class="w-10 lg:w-7 mx-auto mt-4">
    <mat-card-content class="px-7">
        @for (post of paginatedObject()?.results; track $index) {
           <app-post
                [isLogged]="isLogged()"
                [post]="post"
                [canEdit]="post.can_edit!"
                (postDeleted)="deletePost($event)"
            >
            </app-post>
        }
    </mat-card-content>
    <app-paginator
        [itemsPerPage]="itemsPerPage"
        [totalPages]="paginatedObject()?.total_pages || 0"
        [totalItems]="paginatedObject()?.total_count || 0"
        (onChangeClick)="changePage($event)"
    />
</mat-card>
