<mat-card class="w-11/12 md:w-10/12 lg:w-7/12 mx-auto mt-6 md:px-16 py-2">
    <div class="w-full mx-auto">
        @if (loading()) {
            <mat-spinner class="m-auto mt-6 mb-4" [diameter]="70" [strokeWidth]="5"></mat-spinner>
        } @else {
            <mat-card-header class="mb-4" style="padding-top: 0.5rem;">
                <mat-card-title>{{post() !== null ? 'Post Update' : 'Post Create'}}</mat-card-title>
            </mat-card-header>
            <mat-card-content style="padding-bottom: 0.3rem;">
                <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
                    <div class="mb-1">
                        <mat-form-field class="w-full">
                            <mat-label>Title</mat-label>
                            <input matInput
                                type="text"
                                id="title"
                                placeholder="some post title"
                                formControlName="title"
                            >
                            @if (postForm.controls['title'].touched && postForm.controls['title'].invalid) {
                                <mat-error>
                                    @if (postForm.controls['title'].hasError('required')) {
                                        <span>This field is mandatory.</span>
                                    }@else if (postForm.controls['title'].hasError('maxlength')) {
                                        <span>This field should contain less than 100 characters.</span>
                                    }
                                </mat-error>
                            }
                        </mat-form-field>
                    </div>
                    <div class="mb-1">
                        <quill-editor #editor 
                            class="w-full" 
                            formControlName="content_html" 
                            placeholder="Write post content..."
                            [required]="true"
                            [minLength]="5"
                            [modules]="modules"
                        >
                        </quill-editor>
                        <div class="px-4 container-error">
                            @if (!postForm.controls['content_html'].pristine && postForm.controls['content_html'].invalid) {
                                @if (postForm.controls['content_html'].hasError('requiredError')) {
                                    <div class="animate__animated animate__fadeInDown label-error">This field is mandatory.</div>
                                }@else if (postForm.controls['content_html'].hasError('minLengthError')) {
                                    <div class="label-error animate__animated animate__fadeInDown animate__faster">The content_html should contain at least {{postForm.controls['content_html'].errors!['minLengthError'].minLength}} characters.</div>
                                }
                            }
                        </div>
                    </div>
    
                        <mat-card class="mb-3">
                            <mat-card-header class="mb-2" style="padding-top: 0;">
                                <mat-card-title>Permissions</mat-card-title>
                            </mat-card-header>
                            <mat-card-content style="padding-bottom: 0rem;">
    
                                <div formArrayName="permissions">
                                    @for (permission of permissionsForm.controls; track $index) {
                                        <ng-container [formGroupName]="$index">
                                            <div class="grid grid-cols-12 md:gap-4 md:mb-0 mb-4">
                                                <div class="col-span-12 md:col-span-3">
                                                    <mat-form-field class="w-full">
                                                        <mat-label>Level</mat-label>
                                                        <mat-select formControlName="category_id">
                                                            @for (category of categories(); track $index) {
                                                                <mat-option [value]="category.id">{{category.name}}</mat-option>
                                                            }
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-span-12 md:col-span-3">
                                                    <mat-form-field class="w-full">
                                                        <mat-label>Permission</mat-label>
                                                        <mat-select formControlName="permission_id">
                                                            @for (permission of permissions(); track $index) {
                                                                <mat-option [value]="permission.id" panelClass="selected">{{permission.name}}</mat-option>
                                                            }
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </ng-container>
                                    }
                                </div>
                            </mat-card-content>
                        </mat-card>
                    <div class="flex justify-end gap-4">
                        <button mat-stroked-button 
                            type="button" 
                            [disabled]="postForm.invalid"
                            (click)="onCancel()"
                        >
                            <mat-icon>cancel</mat-icon> Cancel
                        </button>
                        <button mat-flat-button 
                            color="primary" 
                            type="submit" 
                            [disabled]="postForm.invalid"
                        >
                            <mat-icon>publish</mat-icon> {{post() !== null ? 'Save' : 'Publish'}}
                        </button>
                    </div>
                </form>
            </mat-card-content>
        }
    </div>
</mat-card>
