<mat-card class="w-11 lg:w-10 mx-auto mt-4 px-5 py-3">
    <div class="w-10 mx-auto">
        <mat-card-header class="mb-4">
            <mat-card-title>Post Create</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
                <div class="field">
                    <mat-form-field class="w-full">
                        <mat-label>Title</mat-label>
                        <input matInput
                            type="text"
                            id="title"
                            placeholder="some post title"
                            formControlName="title"
                        >
                        <!-- @if (authForm.controls['email'].touched && authForm.controls['email'].invalid) {
                            <mat-error>
                                @if (authForm.controls['email'].hasError('required')) {
                                    <span>This field is mandatory.</span>
                                }@else if (authForm.controls['email'].hasError('email')) {
                                    <span>This email is invalid.</span>
                                }
                            </mat-error>
                        } -->
                    </mat-form-field>
                </div>
                <div class="field">
                    <mat-form-field class="w-full">
                        <mat-label>Content</mat-label>
                        <textarea matInput
                            type="text"
                            formControlName="content"
                        ></textarea>
                        <!-- @if (authForm.controls['name'].touched && authForm.controls['name'].invalid) {
                            <mat-error>
                                @if (authForm.controls['name'].hasError('required')) {
                                    <span>This field is mandatory.</span>
                                }@else if (authForm.controls['name'].hasError('minlength')) {
                                    <span>The name should contain at least {{authForm.controls['name'].errors!['minlength'].requiredLength}} characters.</span>
                                }
                            </mat-error>
                        } -->
                    </mat-form-field>
                </div>
                <div formArrayName="permissions">
                    @for (permission of permissionsForm.controls; track $index) {
                        <ng-container [formGroupName]="$index">
                            <div class="formgrid grid">
                                <div class="field col-2">
                                    <mat-form-field class="w-full">
                                        <mat-label>Level</mat-label>
                                        <mat-select formControlName="category_id" [disabled]="true">
                                            @for (category of categories(); track $index) {
                                                <mat-option [value]="category.id">{{category.name}}</mat-option>
                                            }
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="field col-3">
                                    <mat-form-field>
                                        <mat-label>Permission</mat-label>
                                        <mat-select formControlName="permission_id">
                                            @for (permission of permissions(); track $index) {
                                                <mat-option [value]="permission.id" panelClass="selected">{{permission.name}}</mat-option>
                                            }
                                        </mat-select>
                                        <!-- @if (authForm.controls['last_name'].touched && authForm.controls['last_name'].invalid) {
                                            <mat-error>
                                                @if (authForm.controls['last_name'].hasError('required')) {
                                                    <span>This field is mandatory.</span>
                                                }@else if (authForm.controls['last_name'].hasError('minlength')) {
                                                    <span>The last name should contain at least {{authForm.controls['last_name'].errors!['minlength'].requiredLength}} characters.</span>
                                                }
                                            </mat-error>
                                        } -->
                                    </mat-form-field>
                                </div>
                            </div>
                        </ng-container>
                    }
                </div>
                <div class="flex justify-content-end">
                    <button mat-flat-button color="primary" type="submit" [disabled]="postForm.invalid">
                        <mat-icon>save</mat-icon> Save
                    </button>
                </div>
            </form>
        </mat-card-content>
    </div>
</mat-card>

