<mat-card class="p-5 w-7 lg:w-auto mx-auto">
    <mat-card-header class="mb-4">
        <mat-card-title>{{ login ? 'Login' :'Sign Up'}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
            <div class="field">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput
                        placeholder="example@mail.com"
                        formControlName="email"
                    >
                    @if (authForm.controls['email'].touched && authForm.controls['email'].invalid) {
                        <mat-error>
                            @if (authForm.controls['email'].hasError('required')) {
                                <span>This field is mandatory.</span>
                            }@else if (authForm.controls['email'].hasError('email')) {
                                <span>This email is invalid.</span>
                            }
                        </mat-error>
                    }
                </mat-form-field>
            </div>
            @if (!login) {
                <div class="field">
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput
                            formControlName="name"
                        >
                    </mat-form-field>
                </div>
                <div class="field">
                    <mat-form-field>
                        <mat-label>Last Name</mat-label>
                        <input matInput
                            formControlName="last_name"
                        >
                    </mat-form-field>
                </div>
            }
            <div class="field">
                <mat-form-field >
                    <mat-label>Password</mat-label>
                    <input matInput
                        [type]="hide() ? 'password' : 'text'"
                        formControlName="password"
                    >
                    <button mat-icon-button matSuffix (click)="changeHide()" type="button">
                        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            @if (!login) {
                <div class="field">
                    <mat-form-field >
                        <mat-label>Confirm Password</mat-label>
                        <input matInput
                            [type]="hideConfirm() ? 'password' : 'text'"
                            formControlName="confirm_password"
                        >
                        <button mat-icon-button matSuffix (click)="changeHide(true)" type="button">
                            <mat-icon>{{hideConfirm() ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            }
            <div class="flex justify-content-end">
                <button mat-flat-button color="primary" type="submit" [disabled]="authForm.invalid">
                    @if (login) {
                        <mat-icon>login</mat-icon>
                    }@else {
                        <mat-icon>person_add</mat-icon>
                    }
                    {{login ? 'Login' : 'Sign Up'}}
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>

