<mat-card class="w-11/12 md:w-10/12 lg:w-7/12 mx-auto mt-6 md:px-10">
    <mat-card-content>
        @if (loading()) {
            <mat-spinner class="m-auto mt-6 mb-4" [diameter]="70" [strokeWidth]="5"></mat-spinner>
        } @else {
            <div class="block">
                <app-post
                    [isDetail]="true"
                    [isLogged]="true"
                    [post]="post() || undefined"
                />
            </div>
            @if (userId) {
                <div class="mt-1 mb-1">
                    <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
                        <div class="flex justify-between">
                            <div class="w-full mr-4">
                                <mat-form-field class="w-full">
                                    <mat-label>New Comment</mat-label>
                                    <textarea matInput formControlName="comment" rows="4"></textarea>
                                </mat-form-field>
                            </div>
                            <div class="flex justify-end ml-2 gap-4">
                                <button mat-mini-fab 
                                    type="submit" 
                                    color="primary" 
                                    matTooltip="Send" 
                                    [disabled]="commentForm.invalid"
                                >
                                    <mat-icon>send</mat-icon>
                                </button>
                                <button mat-mini-fab 
                                    type="button" 
                                    color="accent" 
                                    matTooltip="Cancel" 
                                    [disabled]="commentForm.invalid"
                                    (click)="resetForm()"
                                >
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            }
            <div class="ml-2">
                <h2 class="mb-1">Comments</h2>
            </div>
            <div class="block">
                @if (loadingComments()) {
                    <mat-spinner class="m-auto mt-3 mb-3" [diameter]="70" [strokeWidth]="5"></mat-spinner>
                }@else {
                    @for (comment of paginatedComments()?.results; track $index) {
                        <mat-card class="mb-1">
                            <mat-card-header class="mb-2">
                                <div class="flex justify-between w-full">
                                    <div class="flex items-center">
                                        <mat-card-title>{{comment.user.nickname}}</mat-card-title>
                                    </div>
                                    <div class="flex items-center gap-4">
                                        <span>{{comment.created_at | date}}</span>
                                    </div>
                                </div>
                            </mat-card-header>
                            <mat-card-content>
                                {{comment.comment}}
                            </mat-card-content>
                            @if (userId && comment.user.id === userId) {
                                <mat-card-actions>
                                    <div class="flex justify-end w-full">
                                        <button mat-icon-button (click)="openDialog('0ms', '0ms', comment.id)"><mat-icon>delete</mat-icon></button>
                                    </div>
                                </mat-card-actions>
                            }
                        </mat-card>
                    }
            }
                <div class="-mt-1">
                    <app-paginator
                    [itemsPerPage]="itemsPerPage"
                    [totalPages]="paginatedComments()?.total_pages || 0"
                    [totalItems]="paginatedComments()?.total_count || 0"
                    (onChangeClick)="changePage($event)"
                    />
                </div>
            </div>
        }
    </mat-card-content>
</mat-card>