<mat-toolbar [class.theme]="!dark_mode">
    <div class="flex justify-content-center md:justify-content-between w-full">
        <div class="hidden md:flex align-items-center">
            <img [src]="'assets/horizontal_logo.png'" alt="logo">
        </div>
        <div class="flex align-items-center gap-3">
            <button mat-icon-button (click)="toggleTheme()">
                @if (dark_mode()) {
                    <mat-icon>dark_mode</mat-icon>
                } @else {
                    <mat-icon>light_mode</mat-icon>
                }
            </button>
            <span>{{loggedUser() !== null ? 'Welcome, ' + loggedUser() : ''}}</span>
            <button mat-flat-button (click)="onLogAction()">
                @if (loggedUser()) {
                    <mat-icon>logout</mat-icon>
                }@else {
                    <mat-icon>login</mat-icon>
                }
                {{loggedUser() === null ? 'Login' : 'Logout'}}
            </button>
        </div>
    </div>
</mat-toolbar>