<mat-toolbar [class.theme]="!dark_mode()">
    <div class="flex justify-center md:justify-between w-full">
        <div class="hidden md:flex">
            <a class="flex items-center" routerLink="/">
                <img [src]="'assets/horizontal_logo.png'" alt="logo">
            </a>
        </div>
        <div class="md:hidden flex mr-2">
            <a class="flex items-center" routerLink="/">
                <mat-icon class="material-symbols-outlined">home</mat-icon>
            </a>
        </div>
        <div class="flex items-center gap-4 mr-2">
            <button mat-icon-button (click)="toggleTheme()">
                @if (dark_mode()) {
                    <mat-icon>light_mode</mat-icon>
                } @else {
                    <mat-icon>dark_mode</mat-icon>
                }
            </button>
            @if (loggedUser()) {
                <span test-id="welcome-div" class="flex items-center gap-2 mr-6">
                    <img class="w-8 img-avatar" [src]="'https://picsum.photos/id/' + (loggedUser()!.id + 200) + '/200'" alt="user">
                    {{'Welcome, ' + loggedUser()?.name}}
                </span>
            }
            <button test-id="log-btn" mat-mini-fab 
                color="basic" 
                (click)="onLogAction()" 
                [matTooltip]="loggedUser() === null ? 'Login' : 'Logout'"
            >
                @if (loggedUser()) {
                    <mat-icon svgIcon="logout"></mat-icon>
                }@else {
                    <mat-icon svgIcon="login"></mat-icon>
                }
                <!-- {{loggedUser() === null ? 'Login' : 'Logout'}} -->
            </button>
        </div>
    </div>
</mat-toolbar>