<mat-card class="mb-4 mt-3 p-3">
    <mat-card-header class="mb-5">
        <div class="flex justify-content-between w-full flex-wrap">
            <div class="flex align-items-center">
                <mat-card-title>{{post?.title}}</mat-card-title>
            </div>
            <div class="flex align-items-center gap-3">
                <mat-chip>{{post?.author?.team}}</mat-chip>
                <span> <strong>{{post?.author?.nickname}}</strong></span>
                <span>{{post?.createdAt | date}}</span>
            </div>
        </div>
    </mat-card-header>
    <mat-card-content>
        <span>
            @if (isDetail) {
                {{post?.content}}
            } @else {
                {{post?.excerpt}}
            }
            @if (!isDetail && post?.excerpt?.length! < post?.content?.length!) {
                <a mat-button [routerLink]="['/p/detail', post?.id]"> ... Show more</a>
            }
        </span>
    </mat-card-content>
    <mat-card-actions>
        <div class="flex justify-content-between w-full mx-2">
            <div class="flex align-items-center gap-2">
                <button mat-button 
                    cdkOverlayOrigin 
                    #trigger="cdkOverlayOrigin" 
                    type="button" (click)="openLikes()"
                >
                    {{post?.likes}} Likes
                </button>
                @if (!isDetail) {
                    <a mat-button [routerLink]="['/p/detail', post?.id]">{{post?.comments}} Comments</a>
                }
            </div>
            <div class="flex align-items-center gap-2">
                @if (isLogged) {
                    <button mat-icon-button [color]="post?.post_liked ? 'warn' : ''"><mat-icon>favorite</mat-icon></button>
                    <button mat-icon-button><mat-icon>chat</mat-icon></button>
                }
                <button mat-icon-button><mat-icon>edit</mat-icon></button>
                <button mat-icon-button (click)="openDialog('0ms', '0ms')"><mat-icon>delete</mat-icon></button>
            </div>
        </div>
    </mat-card-actions>
</mat-card>

<ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayWidth]="'20%'"
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="isOpenLikes()"
    (overlayOutsideClick)="isOpenLikes.set(false)"
    >
    <app-like-modal
        [paginatedLike]="paginatedLike"
        (pageChanged)="onLikePageChanged($event)"
    ></app-like-modal>
</ng-template>
