<mat-card class="mb-4 mt-3 p-3">
    <mat-card-header class="mb-4">
        <div class="flex justify-content-between w-full flex-wrap">
            <div class="flex align-items-center">
                <img mat-card-avatar [src]="'https://picsum.photos/id/' + (post?.author!.id + 200) + '/200'" alt="avatar" class="mr-3 mb-0"/>
                <mat-card-title>{{post?.title}}</mat-card-title>
            </div>
            <div class="flex align-items-center gap-3">
                <mat-chip>
                    <mat-icon matChipAvatar>groups</mat-icon>
                    {{post?.author?.team?.name}}
                </mat-chip>
                <span class="flex align-items-center gap-1"> 
                    <mat-icon>person</mat-icon>
                    <strong>{{post?.author?.nickname | titlecase}}</strong>
                </span>
                <span>{{post?.createdAt | date}}</span>
            </div>
        </div>
    </mat-card-header>
    <mat-card-content>
        <span #detail></span>
    </mat-card-content>
    <mat-card-actions>
        <div class="flex flex-wrap justify-content-between w-full mx-2">
            <div class="flex align-items-center gap-2">
                <button mat-button 
                cdkOverlayOrigin 
                #trigger="cdkOverlayOrigin" 
                type="button" (click)="openLikes()"
                >
                    <mat-icon class="material-symbols-outlined">thumb_up</mat-icon>
                    {{post?.likes}}
                </button>
                @if (!isDetail) {
                    <a mat-button [routerLink]="['/p/detail', post?.id]">
                        <mat-icon class="material-symbols-outlined">forum</mat-icon>
                        {{post?.comments}}
                    </a>
                }
            </div>
            <div class="flex align-items-center gap-2">
                @if (isLogged) {
                    <button mat-icon-button 
                        [color]="post?.post_liked ? 'warn' : ''" 
                        (click)="onLikeAction()"
                    >
                        <mat-icon>favorite</mat-icon>
                    </button>
                    @if (!isDetail) {
                        <a mat-icon-button [routerLink]="['/p/detail', post?.id]"><mat-icon>chat</mat-icon></a>
                    }
                }
                @if (canEdit) {
                    <a mat-icon-button [routerLink]="['/p/update', post?.id]"><mat-icon>edit</mat-icon></a>
                    <button mat-icon-button (click)="openDialog('0ms', '0ms')"><mat-icon>delete</mat-icon></button>
                }
            </div>
        </div>
    </mat-card-actions>
</mat-card>

<ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayWidth]="'20%'"
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="isOpenLikes()"
    (overlayOutsideClick)="isOpenLikes.set(false)"
    >
    <app-like-modal
        [paginatedLike]="paginatedLike"
        [loading]="loadingLikes()"
        (pageChanged)="onLikePageChanged($event)"
    ></app-like-modal>
</ng-template>
